<nav>
  <% if(user) { %>
  <div class="navbar">
    <h1>My Music App</h1>
    <a class="authlink" href="/users/<%= user._id %>/music">View My Music</a>
    <a class="authlink" href="/auth/sign-out">Sign Out</a>
  </div>
  <% } else { %>
  <div class="navbar">
    <h1>My Music App</h1>
    <a class="authlink" href="/auth/sign-in">Sign In</a>
    <a class="authlink" href="/auth/sign-up">Sign Up</a>
  </div>
  <% } %>
</nav>
