<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>My Music App</title>
  </head>
<body class="index-body">
  <%- include('./partials/_navbar.ejs') %>
  <div class="index-container">
    <div class="text-container">
      <h1 class="main-header">My Music App</h1>
      <p class="subheader">An app for collecting your music.</p>
  </div>
</body>
</html>