<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/_head.ejs') %>
    <title>My Music App</title>
  </head>
  <body>
    <%- include('./partials/_navbar.ejs') %>
    <main>
      <h1>My Music App</h1>
      <h2>An app for collecting your music.</h2>
      <footer>Background image provided by 
        <a class="attribution" href="https://www.freepik.com">Freepik</a>
      </footer>
    </main>
  </body>
</html>
