<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Add New Music!</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Add New Music!</h1>


    <form action="/users/<%= user._id %>/music" Method="POST">

        <div>
            <label for="artistName">Artist Name:</label>
            <input type="text" name="artistName" id="artistName" required>
        </div>

        <div>
            <label for="songName">Song Name:</label>
            <input type="text" name="songName" id="songName" required>
        </div>

        <div>
            <label for="genre">Genre:</label>
            <input type="text" name="genre" id="genre">
        </div>

        <div>
            <button type="submit">Add Song</button>
        </div>

    </form>
    
</body>
</html>