<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/_head.ejs') %>
    <title>Add New Music!</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <main>
      <h1>Add New Music!</h1>
      <form action="/users/<%= user._id %>/music" Method="POST">
        <div>
          <label for="artistName">Artist Name:</label>
          <input type="text" name="artistName" id="artistName" required />
        </div>

        <div>
          <label for="songName">Song Name:</label>
          <input type="text" name="songName" id="songName" required />
        </div>

        <div>
          <label for="genre">Genre:</label>
          <input type="text" name="genre" id="genre" />
        </div>

        <div>
          <button type="submit">Add Song</button>
        </div>
      </form>
    </main>
  </body>
</html>
